<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Letterboxd2</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-red-200">
    <main class="min-h-screen flex justify-center items-center">
      <section
        class="bg-white shadow-md rounded-lg px-6 pb-3 mb-10 w-3/12 flex justify-center items-center flex-col"
      >
        <img src="assets/Letterboxd2_logo.png" class="size-7/12" />
        <div class="w-full flex">
          <form
            class="flex justify-center flex-col gap-8 w-full"
            action="/register"
            method="POST"
          >
            <div>
              <input
                class="bg-zinc-100 p-2 rounded-md text-lg w-full"
                type="text"
                name="email"
                id="email"
                placeholder="Email"
              />
            </div>
            <div>
              <input
                class="bg-zinc-100 p-2 rounded-md text-lg w-full"
                type="text"
                name="username"
                id="username"
                placeholder="Nom d'utilisateur"
              />
            </div>
            <div>
              <input
                class="bg-zinc-100 p-2 rounded-md text-lg w-full"
                type="password"
                name="password"
                id="password"
                placeholder="Mot de passe"
              />
            </div>
            <button
              class="p-3 bg-gradient-to-r from-rose-300 to-red-100 rounded-md text-white text-lg"
              type="submit"
            >
              Inscription
            </button>
          </form>
        </div>
        <p class="text-center py-6">
          Vous êtes déjà inscrit ? <a href=/views/login.html class="text-red-300">Connexion</a>
        </p>
      </section>
    </main>
  </body>
</html>
